<div class="home">
  <div class="features">
    <div class="feature" routerLink="/exercises">
      <div class="image-container">
        <img src="assets/images/exercise.jpg" alt="exercise" />
      </div>
      <div class="text-in-image">
        <h2>Exercises</h2>
        <p>Check out our exercises and start working out!</p>
      </div>
    </div>
    <div class="feature" routerLink="/myworkouts">
      <div class="image-container">
        <img src="assets/images/workout.jpg" alt="workout" />
      </div>
      <div class="text-in-image">
        <h2>My Workouts</h2>
        <p>Track your workouts and stay fit!</p>
      </div>
    </div>
    <div class="feature" routerLink="/profile">
      <div class="image-container">
        <img src="assets/images/profile.jpg" alt="profile" />
      </div>
      <div class="text-in-image">
        <h2>Profile</h2>
        <p>Update your profile and stay motivated!</p>
      </div>
    </div>
  </div>
</div>