
body {
    font-family: "Quicksand", serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #201e20 10%, #a8a642 50%, #201e20 90%);
    color: #fff;
}